doctype html
html
  head
    title Arquivo Musical Digital
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/myPRIApp.js")
  body
    block content
