extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-header.w3-dark-grey
                h1 User management
            p Welcome to user management
            .w3-container
                button.w3-button.w3-round-large.w3-black(type='submit') Register user
                br   
                br        
                button.w3-button.w3-round-large.w3-black(type='submit') List all users
                br
                br
                button.w3-button.w3-round-large.w3-black(type='submit') Consult user
                br
                br
            footer.w3-footer.w3-light-grey
                address Developed by myPRIApp
